.основаМОБ {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    
    grid-template-columns: repeat(6,1fr);
    background-color: rgba(26,26,26);
    background-image: url(/public/Медиа/фон.jpg);
    background-position: top;
    background-repeat: no-repeat;

    background-size: cover;
    gap: 0;
}
*{scrollbar-width: none;}


.подложка {
    width: 100%;
    height: 95vh;
    margin-top: 5vh;
    display: flex;
    padding: 3%;
    gap: 2%;
    flex-wrap: wrap;
    overflow: scroll;
    background-color: rgba(240, 248, 255, 0);
    background-size: 100%;
    border-radius: 25px;
    grid-column: 1/7;
    z-index: 6;

}
.карточкаМОБ {
    width: 48%;
    height: 250px;
    background-color: rgba(204, 204, 204, 0);
    border: 1px solid;
    border-color: rgba(208, 208, 208, 0.368);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
}
.бар {
    width: 90%;
    height: 10%;
    position: fixed;
    background-position-y: -100%;
    background-color: rgba(204, 204, 204, 0);
    backdrop-filter: blur(5px);
    border-radius: 100px;
    border: 0.9px solid;
    border-color: rgba(255, 255, 255, 0.368);
    box-shadow: 0px 2px 5px rgba(3, 3, 3, 0.632);
    -webkit-backdrop-filter: blur(5px);
    top: 84vh;
    left: 5%;
    z-index: 7;

}

.NAME {
    width: 100%;
    height: 1vh;
    padding-top: 1vh;
    font-size: 30px;
    color: white;
    text-align: center;
    z-index: 10;
    
}