.основаМОБ {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    grid-template-columns: repeat(6,1fr);
    background-color: rgba(26,26,26);
    background-image: url(/public/Медиа/Глинтвейн.JPG);
    background-position: top;
    background-repeat: no-repeat;

    background-size: 200%;
    gap: 0;
}
*{scrollbar-width: none;}


.подложка {
    width: 100%;
    height: 100%;
    margin-top: 100%;
    display: flex;
    padding: 3%;
    gap: 2%;
    flex-wrap: wrap;

    background-color: aliceblue;
    background-size: 100%;
    border-radius: 25px;
    grid-column: 1/7;
    z-index: 6;

}
.карточкаМОБ {
    width: 49%;
    height: 250px;
    background-color: yellow;
    border-radius: 10px;
}
.бар {
    width: 90%;
    height: 10%;
    position: fixed;
    background-position-y: -100%;
    background-color: rgba(204, 204, 204, 0.558);
    backdrop-filter: blur(10px);
    border-radius: 100px;
    -webkit-backdrop-filter: blur(10px);
    top: 88vh;
    left: 5%;
    z-index: 7;

}